* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Mulish;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ffe715;
}
.borderDiv {
  color:#D8B58F;
  background-image: url(/images/border.jpg);
  background-repeat: no-repeat;
}
