.itemBtn {
  background: black;
  border-radius: 25px;
  font-style: italic;
  color: #ffe715;
  font-size: 8px;
}

.itemBtn:hover {
  border: 1px solid black;
  color: black;
}

.bookItem {
  transition: all 0.5s;
  /* box-shadow: 5px 10px #e7e7e7; */
}
.bookItem:hover {
  transform: scale(1.1);
}
