.itemBtn {
  background: black;
  border-radius: 25px;
  font-style: italic;
  color: #ffe715;
  font-size: 8px;
}

.itemBtn:hover {
  border: 1px solid black;
  color: black;
}

.bookItem {
  margin: 20px;
  transition: all 0.5s;
  box-shadow: rgba(220, 216, 218, 0.4)
  /* 5px 5px, rgba(197, 192, 195, 0.3) 10px 10px,
  rgba(216, 209, 213, 0.2) 15px 15px, rgba(199, 187, 195, 0.1) 20px 20px,
  rgba(151, 143, 148, 0.05) 25px 25px; */
}
.bookItem:hover {
  transform: scale(1.1);
}
