.sideBarItem {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  padding: 1px 1px 1px 10px;
}
.sideBarItem:hover {
  background-color: #EFB701;
  color: #ffd90d;
}
.sideBarItemTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000000;
}
.sideBarItemFirstBtn {
  background: black;
  border-radius: 25px;
  font-style: italic;
  color: #ffe715;
}
.sideBarItemBtn {
  border: 2px solid black;
  color: #000000;
  border-radius: 25px;
  font-style: italic;
  font-weight: 900;
}

.userAccount {
  position: absolute;
  bottom: 10px;
}
.sideBarUserIcon {
  width: 30px;
  height: 30px;
  color: #4294ff;
}
